 <!-- ###################### HEADER ####################################  -->
<!-- Toolbars or Navbars -->
<div ng-include="'components/navbar/navbar.html'"></div>   

<!-- header divs and contents -->
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Monitoring Tool</h1>
    <p class="lead">Record Data for Analysis</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
 </header>
<!-- ################## END OF HEADER ################################# -->


<!-- ################## MAIN CONTAINER ################################ -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">

    <!-- ************************ Capture functionality test ***************************** -->
        <!-- Data Capturing Forms -->
      <!--   <div class="col-md-4 topClear">
          <div class="panel panel-default">
              <div class="panel-body">
                <h5 class="text-center">Test Form</h5>
                <form class="form form-signup" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.itemName" class="form-control" placeholder="Test item" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.func1" class="form-control" placeholder="Function Name" />
                        </div>
                    </div>

                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.result1" class="form-control" placeholder="Result" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.func2" class="form-control" placeholder="Function Name" />
                        </div>
                    </div>

                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.result2" class="form-control" placeholder="Result" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.func3" class="form-control" placeholder="Function Name" />
                        </div>
                    </div>

                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.result3" class="form-control" placeholder="Result" />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.func4" class="form-control" placeholder="Function Name" />
                        </div>
                    </div>

                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.result4" class="form-control" placeholder="Result" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.testerName" class="form-control" placeholder="Tester Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.devicename" class="form-control" placeholder="Device Tested" />
                        </div>
                    </div>

                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.deviceSpec" class="form-control" placeholder="Device Specs" />
                        </div>
                    </div>

                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="formData.loginUsed" class="form-control" placeholder="Login ID used " />
                        </div>
                    </div>
                    <button class="btn btn-sm btn-primary btn-block" ng-click="addData()">SUBMIT</button>
                   </form>
               </div>
             </div>
         </div> -->
        <!-- Captures Data Display -->
       <!--  <div class="col-md-4 topClear">
          
          <div class="table-responsive">  
            <table id="mytable" class="table table-bordred table-striped">             
              <thead>
                  <th><a href="" ng-click="predicate = 'itemName'; reverse=!reverse">Name</a></th>
                  <th><a href="" ng-click="predicate = 'func1'; reverse=!reverse">Function</a></th>
                  <th><a href="" ng-click="predicate = 'result1'; reverse=!reverse">Result</a></th>
                  <th><a href="" ng-click="predicate = 'func2'; reverse=!reverse">Function</a></th>
                  <th><a href="" ng-click="predicate = 'result2'; reverse=!reverse">Result</a></th>
                  <th><a href="" ng-click="predicate = 'func3'; reverse=!reverse">Function</a></th>
                  <th><a href="" ng-click="predicate = 'result3'; reverse=!reverse">Result</a></th>
                  <th><a href="" ng-click="predicate = 'func4'; reverse=!reverse">Function</a></th>
                  <th><a href="" ng-click="predicate = 'result4'; reverse=!reverse">Result</a></th>
                  <th><a href="" ng-click="predicate = 'testerName'; reverse=!reverse">Tester</a></th>
                  <th><a href="" ng-click="predicate = 'devicename'; reverse=!reverse">Device</a></th>
                  <th><a href="" ng-click="predicate = 'deviceSpec'; reverse=!reverse">Specs</a></th>
                  <th><a href="" ng-click="predicate = 'loginUsed'; reverse=!reverse">Login Used</a></th>
                  <th><a href="" ng-click="predicate = 'logged_date'; reverse=!reverse">Logging Date</a></th>
               
              </thead>
              <tbody> 
               {{setTotalItems()}}
                <tr ng-repeat="result in filtered = (dataRepo | filter:search) | orderBy:predicate:reverse| orderBy:'-logged_date' ">
                  <td>{{result.itemName}}</td>
                  <td>{{result.func1}}</td>
                  <td>{{result.result1}}</td>
                  <td>{{result.func2}}</td>
                  <td>{{result.result2}}</td>
                  <td>{{result.func3}}</td>
                  <td>{{result.result3}}</td>
                  <td>{{result.func4}}</td>
                  <td>{{result.result4}}</td>
                  <td>{{result.testerName}}</td>
                  <td>{{result.devicename}}</td>
                  <td>{{result.deviceSpec}}</td>
                  <td>{{result.loginUsed}}</td>
                  <td>{{result.logged_date}}</td>
                </tr>
              </tbody>  
            </table>  
           </div>
         </div>    -->
    <!-- ********************************************************************************* -->

    <!-- ***************** SPECIFIC APPLICATION TEST ********************************* -->
     <!-- Data Capturing Forms -->
        <div class="col-md-4 topClear">
          <div class="panel panel-default">
              <div class="panel-body">
                <h5 class="text-center">SAS Load Test</h5>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">SAS</span>
                            <button class="btn btn-sm btn-danger btn-block" ng-disabled="isLaunch" ng-click="traceLaunch('sas')">Launch</button>
                            <button class="btn btn-sm btn-warning btn-block" ng-disabled="isWindow" ng-click="traceWindow('sas')">Window</button>
                            <button class="btn btn-sm btn-success btn-block" ng-disabled="isReady" ng-click="traceReady('sas')">Ready</button>
                        </div>
                    </div>
                    <div id="clickStatus">
                     <span ng-hide="isWindow">Your click for launch status being logged</span>
                      <span ng-hide="isReady">Your click for window tracing being logged</span>
                      <span ng-hide="isLaunch">Your click for Ready status being logged</span>
                    </div>
               </div>
             </div>
         </div>


    <!-- ****************************************************************************** -->

     </div>
   </div>
 </div>

<!-- ################## END OF MAIN CONTAINER ######################### -->


<!-- ################## FOOTER ######################################## -->
<footer class="footer">
  <div class="container">
      <p>angular-fullstack-base |
        <a href="https://twitter.com/merumman">@merumman</a> |
         <a href="https://github.com/knofler/angular-fullstack-base/issues">Issues</a></p>
  </div>
 </footer>
<!-- ################## END OF FOOTER ################################# !